
@{
    ViewData["Title"] = "ViewSession";
    Layout = "~/Views/Shared/BackLayout.cshtml";
}

<h1>ViewSession</h1>

<select id="selectDate" class="form-select" width =20px></select>
<div id="chart"></div>
<div id="edit">

</div>

<span id="test"></span>



@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    <script>

        const selectDate = document.querySelector('#selectDate');
        const test = document.querySelector('#test');
        const chart = document.querySelector('#chart');
        const edit = document.querySelector('#edit');
        var chartData;       

        const NowYear = new Date().getFullYear();
        const NowMonth = new Date().getMonth()+1;
        const NowDate = new Date().getDate();
        var date = `${NowYear}-${NowMonth}-${NowDate}`;

        CreateChart(date);

        //生成連續21天日期list

        for(var i=0;i<21;i++){
            date = `${NowYear}-${NowMonth}-${NowDate + i}`;
            let dateString = `<option value="${date}" name="queryDate" id="optionDate">${date}</option>`;
            selectDate.innerHTML += dateString;
        }
        selectDate.innerHTML += `<option value="2023-2-1" name="queryDate" id="optionDate">2023-2-1</option>`;

        //list在選擇後可以收到選擇日期的session list
        //javascript 沒有針對option的select事件
        //在select上 使用onchange事件
        selectDate.addEventListener('change',async (event)=>{
           let date = selectDate.options[selectDate.selectedIndex].value;
            CreateChart(date);
        })

        //生成表格
        async function CreateChart(date){
            const response = await fetch(`@Url.Content("~/SessionBack/getChartDataForSessionByDate")?queryDate=${date}`)
            chartData = await response.json();
            console.log(chartData)
            chart.innerHTML="";
            var options=
            {
                series:chartData,
                chart: {
                    height: 300,
                    type: 'rangeBar',
                    events: {
                        dataPointSelection: async function (event, chartContext, config) {
                            console.log(config.w.config.series[config.seriesIndex].data[config.dataPointIndex].x)
                            console.log(config.w.config.series[config.seriesIndex].data[config.dataPointIndex].y[0])
                            let theater = config.w.config.series[config.seriesIndex].data[config.dataPointIndex].x
                            let startTimeStamp = new Date(config.w.config.series[config.seriesIndex].data[config.dataPointIndex].y[0]-28800000)
                            let start = `${startTimeStamp.getFullYear()}-${startTimeStamp.getMonth() + 1}-${startTimeStamp.getDate()} ${startTimeStamp.getHours()}:${startTimeStamp.getMinutes()}:${startTimeStamp.getSeconds()}`;
                            console.log(start)
                            edit.innerHTML = '<form><input type="button"  value = "修改場次" /><input type="button" value = "新增場次" /></form>'
                        },
                    }
                },
                plotOptions: {
                    bar: {
                        horizontal: true,
                        barHeight: '50%',
                        rangeBarGroupRows: true
                    }
                },
                fill: {
                    type: 'solid'
                },
                xaxis: {
                    type: 'datetime'
                },
                legend: {
                    position: 'right'
                },
                colors:[
                    "#84C1FF", "#019858", "#FF7575", "#B8B8DC", "#BF0060", "#C2C287", "#95CACA", "#9D9D9D", "#FFDAC8"
                ],
                tooltip:{
                    x:{
                        format :"HH:mm:ss"
                    }
                },
                toolbar:{
                    show:false,
                    tools:{
                        zoom:false
                        
                    }
                },
                selection: {
                    enabled: true
                },
                zoom:{
                    enabled:false
                }
            }
            var chartCreate = new ApexCharts(document.querySelector("#chart"), options);
            chartCreate.render();
        }

    </script>
}

