
@{
    ViewData["Title"] = "ViewSession";
    Layout = "~/Views/Shared/BackLayout.cshtml";
}

<h1>ViewSession</h1>

<select id="selectDate" class="form-select" width =20px></select>
<div id="chart"></div>

<span id="test"></span>




@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    <script>

        const selectDate = document.querySelector('#selectDate');
        const test = document.querySelector('#test');
        const chart = document.querySelector('#chart');
        var chartData;

        //生成連續21天日期list
        const NowYear = new Date().getFullYear();
        const NowMonth = new Date().getMonth()+1;
        const NowDate = new Date().getDate();
        for(var i=0;i<21;i++){
            let date = `${NowYear}-${NowMonth}-${NowDate+i}`
            let dateString = `<option value="${date}" name="queryDate" id="optionDate">${date}</option>`;
            selectDate.innerHTML += dateString;
        }
        selectDate.innerHTML += `<option value="2023-02-01" name="queryDate" id="optionDate">2023-02-01</option>`
        //list在選擇後可以收到選擇日期的session list
        //javascript 沒有針對option的select事件
        //在select上 使用onchange事件
        selectDate.addEventListener('change',async (event)=>{
           let date = selectDate.options[selectDate.selectedIndex].value;
            //const response = await fetch(`@Url.Content("~/SessionBack/getChartDataForSessionByDate")?queryDate=${date}`)
            //chartData = await response.text();
            //test.innerHTML = chartData;
            chart.innerHTML ="";
            CreateChart(date);
        })

        //生成表格

        async function CreateChart(date){
            const response = await fetch(`@Url.Content("~/SessionBack/getChartDataForSessionByDate")?queryDate=${date}`)
            //chartData = await response.text();
            chartData = await response.json();
            console.log(chartData)

            var options=
            {
                series:chartData,
                chart: {
                    height: 300,
                    type: 'rangeBar'
                },
                plotOptions: {
                    bar: {
                        horizontal: true,
                        barHeight: '50%',
                        rangeBarGroupRows: true
                    }
                },
                fill: {
                    type: 'solid'
                },
                xaxis: {
                    type: 'datetime'
                },
                legend: {
                    position: 'right'
                }
            }
            var chart = new ApexCharts(document.querySelector("#chart"), options);
            chart.render();

        }

    </script>
}

