@{
    ViewData["Title"] = "ViewSession";
    Layout = "~/Views/Shared/BackLayout.cshtml";
}



<div class="card">
    <div class="card-body">
        <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
            <h5 class="card-title fw-semibold">場次管理</h5>
            <div>
                <input type="button" class="btn btn-secondary" style="float:right" id="createButton" value="新增場次" />
            </div>
        </div>
        <select id="selectDate" class="form-select" name="queryDate"></select>
        <div id="chartArea"></div>
        <input type="hidden" id="selectedSessionTheaterName" value="" />
        <input type="hidden" id="selectedSessionStartString" value="" />

        <div id="sessionDisplay" style="display:flex" hidden>
            <img src="" width=200 id="moviePoster">
            <div>
                <div><label>電影名稱：</label><label id="movieName"></label></div>
                <div><label>電影長度：</label><label id="movieLength"></label></div>
                <div><label>場次時間：</label><label id="sessionStart"></label></div>
                <div><label>場次結束：</label><label id="sessionEnd"></label></div>
            </div>
        </div>
        <div id="noDelete">
        </div>


        <form asp-action="delete" id="deleteFormData">
            <div>
                <input type="hidden" name="SessionID" value=0 id="sessionID">
                <input type="hidden" name="deleteDate" value=0 id="deleteDate">
                <input type="submit" value="刪除場次" class="btn btn-danger m-1" id="deleteButton" hidden />
            </div>
        </form>


        <div class="row" id="createForm" hidden>
            <div class="col-md-4">
                <form asp-action="Create" id="createFormData">
                    <div class="form-group">
                        <label>選擇上映影廳</label>
                        <select id="selectTheater" class="form-select" name="TheaterID" required></select>
                    </div>
                    <div class="form-group">
                        <label>選擇上映電影</label>
                        <select id="selectMovie" class="form-select" name="MovieID" required></select>
                    </div>
                    <input type="hidden" value="" id="createDate" name="createDate" />
                    <div class="form-group">
                        <label>選擇上映時間</label>
                        <input type="time" id="selectStart" name="StartTime" class="form-select" required min="09:00" max="23:00" />
                    </div>
                    <div id="movieLengthHidden" hidden>
                    </div>
                    <div class="form-group">
                        <label>預計結束時間</label>
                        <input type="time" id="selectEnd" class="form-select" readonly>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="新增" class="btn btn-primary" id="createFormButton" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<dialog id="normalDialog" style="width: 500px; margin:auto;" class="card-body alert alert-info">
    <p style="text-align:center; font-size:24px" id="normalMessage">場次新增完成</p>
    <div style="display:flex; justify-content:center">
        <form method="dialog">
            <button class="btn btn-primary">確定</button>
        </form>
    </div>
</dialog>

<dialog id="errorDialog" style="width: 500px; margin:auto;" class="card-body alert alert-danger">
    <p style="text-align:center; font-size:18px" id="errorMessage">場次新增完成</p>
    <div style="display:flex; justify-content:center">
        <form method="dialog">
            <button class="btn btn-danger">確定</button>
        </form>
    </div>
</dialog>

<dialog id="confirmDialog" style="width: 500px; margin:auto;" class="card-body alert alert-secondary">
    <p style="text-align:center; font-size:18px" id="confirmMessage">確認要新增</p>
    <div style="display:flex; justify-content:center">
        <button class="btn btn-dark" id="confirmDialogOK">確定</button>
        <button class="btn btn-light" id="confirmDialogCancel">取消</button>
    </div>
</dialog>








@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    <script>

        const selectDate = document.querySelector('#selectDate');
        const chartArea = document.querySelector('#chartArea');
        const selectedSessionTheaterName = document.querySelector('#selectedSessionTheaterName');
        const selectedSessionStartString = document.querySelector('#selectedSessionStartString');
        const sessionDisplay = document.querySelector('#sessionDisplay');
        const createButton = document.querySelector('#createButton')
        const deleteButton = document.querySelector('#deleteButton');
        const moviePoster = document.querySelector('#moviePoster');
        const movieName = document.querySelector('#movieName');
        const movieLength = document.querySelector('#movieLength');
        const sessionStart = document.querySelector('#sessionStart');
        const sessionEnd = document.querySelector('#sessionEnd');

        const noDelete = document.querySelector('#noDelete')
        const deleteDate = document.querySelector('#deleteDate')

        const createDate = document.querySelector('#createDate');
        const selectMovie = document.querySelector('#selectMovie');
        const selectStart = document.querySelector('#selectStart');
        const selectEnd = document.querySelector('#selectEnd');

        const createFormButton = document.querySelector('#createFormButton')

        const sessionID = document.querySelectorAll('#sessionID');


        var chartData;
        var chart = null;

        const Now = new Date().getTime();
        const NowYear = new Date().getFullYear();
        const NowMonth = new Date().getMonth() + 1;
        const NowDate = new Date().getDate();
        var date = `${NowYear}-${NowMonth}-${NowDate}`;

        createDate.value = date;
        deleteDate.value = date;

        CreateChart(date);

        //生成連續21天日期list
        for (var i = 0; i < 21; i++) {
            var newDate = new Date(Now + i * 1000 * 60 * 60 * 24)
            date = `${newDate.getFullYear()}-${newDate.getMonth() + 1}-${newDate.getDate()}`;
            let dateString = `<option value="${date}">${date}</option>`;
            selectDate.innerHTML += dateString;
        }

        //list在選擇後可以收到選擇日期的session list
        //javascript 沒有針對option的select事件
        //在select上 使用onchange事件
        selectDate.addEventListener('change', async (event) => {
            reset();
            let date = selectDate.options[selectDate.selectedIndex].value;
            await CreateChart(date);
            createDate.value = date;
            deleteDate.value = date;
        })

        createButton.addEventListener('click', async (event) => {
            reset();
            await loadSelectMovie();
            document.querySelector('#createForm').removeAttribute("hidden")
        })

        //選擇時間，清空編輯區域，清空表格，查詢資料，取得影廳ID、取得開始時間、取得表格用資料，生成表格
        async function CreateChart(date) {
            selectDate.setAttribute("disabled", true)
            if (chart != null) {
                chart.destroy();
            }
            const response = await fetch(`@Url.Content("~/SessionBack/getChartDataForSessionByDate")?queryDate=${date}`);
            chartData = await response.json();
            var options =
            {
                series: chartData,
                chart: {
                    id: 'SessionChart',
                    height: 300,
                    type: 'rangeBar',
                    events: {
                        dataPointSelection: async function (event, chartContext, config) {
                            reset();
                            let theater = config.w.config.series[config.seriesIndex].data[config.dataPointIndex].x;
                            selectedSessionTheaterName.value = theater;
                            let startTimeStamp = new Date(config.w.config.series[config.seriesIndex].data[config.dataPointIndex].y[0] - 28800000);
                            let start = `${startTimeStamp.getFullYear()}-${startTimeStamp.getMonth() + 1}-${startTimeStamp.getDate()} ${startTimeStamp.getHours()}:${startTimeStamp.getMinutes()}:${startTimeStamp.getSeconds()}`;
                            selectedSessionStartString.value = start;
                            const response = await fetch(`@Url.Content("~/SessionBack/getSessionByTheaterAndStart")?selectedSessionTheaterName=${theater}&selectedSessionStartString=${start}`);
                            let session = await response.json();
                            if (session.sessionID == null) {
                                errorMessage.innerHTML = '查無場次，請重新整理';
                                errorDialog.showModal();
                                return;
                            }
                            sessionID.forEach(i => {
                                i.value = session.sessionID
                            })
                            if (session.hasOrder == true) {
                                noDelete.innerHTML += '<div class="alert alert-primary" role = "alert" >該場次已有訂票，無法修改</div>';
                            } else {
                                deleteButton.removeAttribute("hidden");
                            }
                            sessionDisplay.removeAttribute("hidden");
                            moviePoster.src = "../" + session.moviePosterPath;
                            movieName.innerHTML = session.movieName;
                            movieLength.innerHTML = session.movieLength;
                            sessionStart.innerHTML = session.startTime.split("T")[1];
                            sessionEnd.innerHTML = session.endTime.toString().split("T")[1];
                        },
                        toolbar: {
                            show: false
                        },
                        zoom: {
                            enabled: false
                        }
                    }
                },
                plotOptions: {
                    bar: {
                        horizontal: true,
                        barHeight: '50%',
                        rangeBarGroupRows: true
                    }
                },
                fill: {
                    type: 'solid'
                },
                xaxis: {
                    type: 'datetime'
                },
                legend: {
                    position: 'right'
                },
                colors: [
                    "#84C1FF", "#019858", "#FF7575", "#B8B8DC", "#BF0060", "#C2C287", "#95CACA", "#9D9D9D", "#FFDAC8"
                ],
                tooltip: {
                    x: {
                        format: "HH:mm:ss"
                    }
                },
                noData: {
                    text: "尚無場次資料"
                }
            }
            chart = new ApexCharts(document.querySelector("#chartArea"), options);
            chart.render();
            selectDate.removeAttribute("disabled");
        }

        function reset() {
            noDelete.innerHTML = "";
            sessionDisplay.setAttribute("hidden", true);
            deleteButton.setAttribute("hidden", true);
            selectStart.value = "";
            selectEnd.value = "";
            document.querySelector('#createForm').setAttribute("hidden", true)
        }
        //上映影廳的select
        async function loadSelectTheater() {
            const response = await fetch(`@Url.Content("~/SessionBack/loadSelectTheater")`);
            const datas = await response.json();
            datas.forEach(i => {
                document.querySelector('#selectTheater').innerHTML += `<option value="${i.fTheaterId}">${i.fTheater}</option>`;
            })
        }

        loadSelectTheater();

        //上映電影的select
        async function loadSelectMovie(date) {
            const response = await fetch(`@Url.Content("~/SessionBack/loadSelectMovie")?createDate=${createDate.value}`);
            const datas = await response.json();
            document.querySelector('#selectMovie').innerHTML = null;
            document.querySelector('#movieLengthHidden').innerHTML = null;
            datas.forEach(i => {
                selectMovie.innerHTML += `<option value="${i.fId}">${i.fNameCht}</option>`;
                document.querySelector('#movieLengthHidden').innerHTML += `<input type="hidden" id="movie${i.fId}" value=${i.fShowLength}>`
            })
        }

        //選擇完電影後要計算結束時間
        selectStart.addEventListener('blur', () => {
            calculateEndTime();
        })

        selectMovie.addEventListener('change', () => {
            calculateEndTime();
        })

        function calculateEndTime() {
            var hour = parseInt(selectStart.value.split(":")[0]);
            var minute = parseInt(selectStart.value.split(":")[1]);
            var length = parseInt(document.querySelector(`#movie${selectMovie.value}`).value);
            var minutePlus = minute + length;
            if (minutePlus > 60) {
                minute = minutePlus % 60;
                if (minute < 10) {
                    minute = "0" + minute;
                }
                hour = hour + Math.trunc(minutePlus / 60);
                if (hour >= 24) {
                    hour = hour - 24;
                }
                if (hour < 10) {
                    hour = "0" + hour;
                }
                selectEnd.value = hour + ":" + minute;
            }
        }

        const normalDialog = document.querySelector('#normalDialog');
        const normalMessage = document.querySelector('#normalMessage');
        const errorDialog = document.querySelector('#errorDialog');
        const errorMessage = document.querySelector('#errorMessage');
        const confirmDialog = document.querySelector('#confirmDialog');
        const confirmMessage = document.querySelector('#confirmMessage');
        const confrimDialogOK = document.querySelector('#confrimDialogOK');
        const confrimDialogCancel = document.querySelector('#confrimDialogCancel');


        //DeleteButton
        deleteButton.addEventListener('click', function () {
            event.preventDefault();
            showConfirmDialog('確認要刪除場次？', 'deleteSession');

        })

        //CreateButton
        createFormButton.addEventListener('click', function () {
            event.preventDefault();
            showConfirmDialog('確認要新增場次？', 'createSession');
        })

        //ConfirmDialog
        confirmDialogCancel.addEventListener('click', function () {
            confirmDialog.close();
        })

        function showConfirmDialog(text, event) {
            confirmDialogOK.removeEventListener('click', deleteSession);   //要先刪除事件，必須指定事件的名稱
            confirmDialogOK.removeEventListener('click', createSession);
            confirmMessage.innerHTML = text;
            if (event == "deleteSession") {
                confirmDialogOK.addEventListener('click', deleteSession)     //因刪除事件必須指定事件名稱，故不可使用匿名方法
            } else if (event == "createSession") {
                confirmDialogOK.addEventListener('click', createSession)
            }
            confirmDialog.showModal();
        }


        //create
        async function createSession() {
            confirmDialog.close();
            var formData = new FormData(document.querySelector('#createFormData'))
            const response = await fetch(`@Url.Content("~/SessionBack/create")`, { method: 'POST', body: formData })
            const datas = await response.json();
            if (datas.isError) {
                errorMessage.innerHTML = datas.message;
                errorDialog.showModal();
            } else {
                normalMessage.innerHTML = datas.message;
                normalDialog.showModal();
                reset();
                CreateChart(deleteDate.value);
            }
        }

        //delete
        async function deleteSession() {
            confirmDialog.close();
            var formData = new FormData(document.querySelector('#deleteFormData'))
            const response = await fetch(`@Url.Content("~/SessionBack/delete")`, { method: 'POST', body: formData })
            const datas = await response.json();
            if (datas.isError) {
                errorMessage.innerHTML = datas.message;
                errorDialog.showModal();
            } else {
                normalMessage.innerHTML = datas.message;
                normalDialog.showModal();
                reset();
                CreateChart(deleteDate.value);
            }
        }
    </script>
}

