@model prjMovieHolic.Models.TShortCmt

@{
    ViewData["Title"] = "MovieHolic 新增短評";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
<!-- Bootstrap ICONS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

<h1>新增短評</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FMovieId" class="control-label"></label>
                <input asp-for="FMovieId" type="hidden" class ="form-control" asp-items="ViewBag.FMovieId"/>
            </div>
            <div class="form-group">
                <label asp-for="FMemberId" class="control-label"></label>
                <input asp-for="FMemberId" class ="form-control" asp-items="ViewBag.FMemberId"/>
            </div>
            <div class="form-group">
                <label asp-for="FTitle" class="control-label"></label>
                <input asp-for="FTitle" class="form-control" />
                <span asp-validation-for="FTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FRate" class="control-label"></label>
                <input asp-for="FRate" class="form-control" />
                <span asp-validation-for="FRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="發送" class="btn btn-outline-primary" />
                <button type="button" class="btn btn-outline-primary" onclick="history.back()" >取消</button>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
