@{
    ViewData["Title"] = "Home Page";
}

<div id="page1">
	<div class="body1">
		<div class="main">
			<!-- 這塊不要管它  拿掉會破圖-->
		<div class="ic">More Website Templates at <a href="https://www.webmoban.net">Website Template</a></div>

				<!-- 點播機cover Flow-->
				<!-- 放7張會顯示五張。放五張顯示三張-->
			<div class="relative">
				<div id="gallery">
					<ul id="myRoundabout">
						<li><img src="images/aa.jpg" alt=""></li>
						<li><img src="images/bb.jpg" alt=""></li>
						<li><img src="images/aa.jpg" alt=""></li>
						<li><img src="images/aa.jpg" alt=""></li>
						<li><img src="images/aa.jpg" alt=""></li>
						<li><img src="images/aa.jpg" alt=""></li>
						<li><img src="images/aa.jpg" alt=""></li>
					</ul>
				</div>
			</div>

				<!--熱門電影分隔線-->
<div class="myBr"></div>
<div class="hotMoviePlaceLine">
	<ul class="hotMoviePlaceLineMenu">
		<li style="font-size: 26px;">現正熱映</li>
		<li><a href="" style="color: #13c5ff;">瀏覽所有電影-></a></li>
	</ul>
</div>
				<!-- content -->
				<!-- 熱門電影區塊-->
<section id="">
<div class="line1">
<div class="line2 wrapper">
<div class="wrapper2">
				<!-- 熱門電影1-->
				<article class="movieCard">
					<br>
					<figure><img src="images/aaa.jpg" alt="" class="pad_bot1">
					</figure>
					<div>
						<h3>媽的多重宇宙</h3>
						<ul>
							<li>(英文片名)</li>
							<hr>
							<li>上映日期：</li>
							<li>(時間)</li>
						</ul>
					</div>
					<a href="#" class="buyNow">Buy Now</a>
				</article>
							<article class="movieCard">
								<br>
								<figure>
									<img src="images/aaa.jpg" alt="" class="pad_bot1">
								</figure>
								<div>
									<h3>媽的多重宇宙</h3>
									<ul>
										<li>(英文片名)</li>
										<hr>
										<li>上映日期：</li>
										<li>(時間)</li>
									</ul>
								</div>
								<a href="#" class="buyNow">Buy Now</a>
							</article>
				<article class="movieCard">
					<br>
					<figure><img src="images/aaa.jpg" alt="" class="pad_bot1">
					</figure>
					<div>
						<h3>媽的多重宇宙</h3>
						<ul>
							<li>(英文片名)</li>
							<hr>
							<li>上映日期：</li>
							<li>(時間)</li>
						</ul>
					</div>
					<a href="#" class="buyNow">Buy Now</a>
				</article>
				<article class="movieCard">
					<br>
					<figure><img src="images/aaa.jpg" alt="" class="pad_bot1">
					</figure>
					<div>
						<h3>媽的多重宇宙</h3>
						<ul>
							<li>(英文片名)</li>
							<hr>
							<li>上映日期：</li>
							<li>(時間)</li>
						</ul>
					</div>
					<a href="#" class="buyNow">Buy Now</a>
				</article>
			</div>
		</div>
	</div>
</section>
<!-- / 動了會破圖-->
<div class="ic">More Website Templates at <a href="https://www.webmoban.net">Website Template</a></div>
                <!-- / header-->
<div class="myBr"></div>
				<!--第二條分隔線-->
<div class="notYetMoviePlaceLine">
	<ul class="notYetMoviePlaceLineMenu">
		<li style="font-size: 26px;">即將上映</li>
		<li><a href="" style="color: #13c5ff;">瀏覽所有電影-></a></li>
	</ul>
</div>
				<!-- 即將上映電影區塊-->
<section id="content">
	<div class="line1">
		<div class="line2 wrapper">
			<div class="wrapper2">
				<!-- 電影1-->
				<article class="movieCard">
					<br>
					<figure><img src="images/aaa.jpg"  alt="" class="pad_bot1">
					</figure>
					<div>
						<h3>媽的多重宇宙</h3>
						<ul>
							<li>(英文片名)</li>
							<hr>
							<li>上映日期：</li>
							<li>(時間)</li>
						</ul>
					</div>
				</article>
				<!-- 電影2-->
				<article class="movieCard">
					<br>
					<figure><img src="images/aaa.jpg" alt="" class="pad_bot1">
					</figure>
					<div>
						<h3>媽的多重宇宙</h3>
						<ul>
							<li>(英文片名)</li>
							<hr>
							<li>上映日期：</li>
							<li>(時間)</li>
						</ul>
					</div>
				</article>
				<!-- 電影3-->
				<article class="movieCard">
					<br>
					<figure><img src="images/aaa.jpg" alt="" class="pad_bot1">
					</figure>
					<div>
						<h3>媽的多重宇宙</h3>
						<ul>
							<li>(英文片名)</li>
							<hr>
							<li>上映日期：</li>
							<li>(時間)</li>
						</ul>
					</div>
				</article>
							<article class="movieCard">
								<br>
								<figure>
									<img src="images/aaa.jpg" alt="" class="pad_bot1">
								</figure>
								<div>
									<h3>媽的多重宇宙</h3>
									<ul>
										<li>(英文片名)</li>
										<hr>
										<li>上映日期：</li>
										<li>(時間)</li>
									</ul>
								</div>
							</article>
			</div>
		</div>
	</div>
</section>
		</div>
	</div>
</div>

