<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MovieHolic後臺管理系統</title>
    <link rel="stylesheet" href="~/BackTheme/assets/css/styles.min.css" />
</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        <!-- Sidebar Start -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div>
                <div class="brand-logo d-flex align-items-center justify-content-between">
                    <a href="./index.html" class="text-nowrap logo-img">
                        <img src="~/BackTheme/assets/images/Logo.jpg" width="180" alt="" />
                    </a>
                    <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                        <i class="ti ti-x fs-8"></i>
                    </div>
                </div>
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
                    <ul id="sidebarnav">
                        <li class="sidebar-item">
                            <a class="sidebar-link" aria-expanded="false" asp-area="" asp-controller="Movie" asp-action="List">
                                <span>
                                    <i class="ti ti-movie"></i>   @*<==========這是放Icon*@
                                </span>
                                <span class="hide-menu">電影管理</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" aria-expanded="false" asp-area="" asp-controller="SessionBack" asp-action="ViewSession">
                                <span>
                                    <i class="ti ti-brand-netflix"></i>   @*<==========這是放Icon*@
                                </span>
                                <span class="hide-menu">場次管理</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" aria-expanded="false" asp-area="" asp-controller="Complaint" asp-action="List">
                                <span>
                                    <i class="ti ti-rating-21-plus"></i>   @*<==========這是放Icon*@
                                </span>
                                <span class="hide-menu">客訴管理</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" aria-expanded="false" asp-area="" asp-controller="DashBoard" asp-action="Index">
                                <span>
                                    <i class="ti ti-timeline"></i>   @*<==========這是放Icon*@
                                </span>
                                <span class="hide-menu">DashBoard</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <div class="sidebar-link" class="btn btn-toggle d-inline-flex align-items-center rounded border-0" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="true">
                                <span>
                                    <i class="ti ti-timeline"></i>   @*<==========這是放Icon*@
                                </span>
                                <span class="hide-menu">統計報表...</span>
                            </div>
                            <div class="collapse show" id="account-collapse" style="">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li class="sidebar-item">
                                        <a class="sidebar-link" aria-expanded="false" asp-area="" asp-controller="Statistics" asp-action="Member">會員相關</a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a class="sidebar-link" aria-expanded="false" asp-area="" asp-controller="Statics" asp-action="Member">電影相關</a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a class="sidebar-link" aria-expanded="false" asp-area="" asp-controller="Statics" asp-action="Member">客訴相關</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        @*<li class="nav-small-cap">
                        <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                        <span class="hide-menu">EXTRA</span> <==========這是放大項(非必要)
                        </li>
                        <li class="sidebar-item">
                        <a class="sidebar-link" href="./icon-tabler.html" aria-expanded="false">
                        <span>
                        <i class="ti ti-mood-happy"></i>
                        </span>
                        <span class="hide-menu">Icons</span>
                        </a>
                        </li>
                        <li class="sidebar-item">
                        <a class="sidebar-link" href="./sample-page.html" aria-expanded="false">
                        <span>
                        <i class="ti ti-aperture"></i>
                        </span>
                        <span class="hide-menu">Sample Page</span>
                        </a>
                        </li>*@
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!--  Sidebar End -->
        <!--  Main wrapper -->
        <div class="body-wrapper">
            <!--  Header Start -->
            <header class="app-header">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <ul class="navbar-nav">
                        <li class="nav-item d-block d-xl-none">
                            <!--  瀏覽器放大縮小時清單的自動縮放 -->
                            <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                                <i class="ti ti-menu-2"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </header>
            <!--  Header End -->
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="~/BackTheme/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/BackTheme/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/BackTheme/assets/js/sidebarmenu.js"></script>
    <script src="~/BackTheme/assets/js/app.min.js"></script>
    <script src="~/BackTheme/assets/libs/simplebar/dist/simplebar.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>