@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="page2">
    <div class="body1">
        <div class="">
            <div class="body3">
                <div class="main">
                    <!-- content -->
                    <section id="content">
                        <div class="wrapper">
                            <!--步驟圈圈在這裡-->
                            <div class="orderStep">
                                <ul>
                                    <li class="liInOrderstep">選擇時段</li>
                                    <li><img src="images/menu_marker.png" alt=""></li>
                                    <li class="liInOrderstephere">選擇票種</li>
                                    <li><img src="images/menu_marker.png" alt=""></li>
                                    <li class="liInOrderstep">選擇座位</li>
                                    <li><img src="images/menu_marker.png" alt=""></li>
                                    <li class="liInOrderstep">配餐選擇</li>
                                    <li><img src="images/menu_marker.png" alt=""></li>
                                    <li class="liInOrderstep">送出訂單</li>
                                </ul>
                            </div>
                            <!--這裡開始訂票-->
                            <div class="orderBox">
                                <div>
                                    <figure>
                                        <h4>電影名稱電影名稱</h4>
                                        <img class="orderMovieImage" src="images/aaa.jpg" alt="">
                                    </figure>
                                </div>
                                <div class="pick">
                                    <div class="alreadyOrder">
                                        <h3>已選項目</h3>
                                        <ul>
                                            <li><span>時間</span>一個時間.....</li>
                                            <li><span>影廳</span>第X廳</li>
                                        </ul>
                                    </div>
                                    <div class="pickTicket">
                                        <h3>選擇票種</h3>
                                        <div class="Ticket">
                                            <ul>
                                                <li class="fontFat">庶民</li>
                                                <li></li>
                                                <li></li>
                                                <li>張數<button>-</button>0<button>+</button></li>
                                                <li>$XXX</li>
                                            </ul>
                                            <ul>
                                                <li class="fontFat">書生</li>
                                                <li></li>
                                                <li></li>
                                                <li>張數<button>-</button>0<button>+</button></li>
                                                <li>$XXX</li>
                                            </ul>
                                            <ul>
                                                <li class="fontFat">軍爺</li>
                                                <li></li>
                                                <li></li>
                                                <li>張數<button>-</button>0<button>+</button></li>
                                                <li>$XXX</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="button toRight">下一步</a>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>