@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form action="TryAndError" method="post">
<input type="text" name="myList[1].Id"  value="0"/>
<input type="text" name="myList[1].Name" value="1" />
<input type="text" name="myList[3].Id"  value="2"/>
<input type="text" name="myList[3].Name" value="3"/>
<button type="submit">下一步</button>
</form>