@{
    ViewData["Title"] = "DashBoard";
    Layout = "~/Views/Shared/BackLayout.cshtml";
}


@*Row1*@
<div class="row">
    @*    <div class="col-lg-8 d-flex align-items-strech">*@
    <div class="card">
        <div class="card-body">
            <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
                <div class="mb-3 mb-sm-0">
                    <h5 class="card-title fw-semibold">電影票房</h5>
                </div>
            </div>
            <div id="chartMovieIncome" style="min-height: 360px;">
            </div>
        </div>
        @*        </div>*@
    </div>
</div>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script>

        function outDate(i) {
            var newDate = new Date(new Date().getTime() + i * 1000 * 60 * 60 * 24)
            date = `${newDate.getFullYear()}-${newDate.getMonth() + 1}-${newDate.getDate()}`;
            return date;
        }


        var options = {
            series:[],
            chart: {
                type: 'bar',
                height: 350,
                stacked: true,
                toolbar: {
                    show: false
                },
                zoom: {
                    enabled: false
                }
            },
            plotOptions: {
                bar: {
                    horizontal: false,
                    borderRadius: 10,
                    dataLabels: {
                        total: {
                            enabled: true,
                            style: {
                                fontSize: '13px',
                                fontWeight: 900
                            }
                        }
                    }
                },
            },
            xaxis: {
                type: 'category'
            },
            noData: {
                text: "Loading Data...",
                align: 'center',
            }            
        };

        var chart = new ApexCharts(document.querySelector("#chartMovieIncome"), options);
        chart.render();
    </script>
}