@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/BackLayout.cshtml";
}


@*Row1*@
<div class="row">
    <div class="col">
    <div class="card">
        <div class="card-body">
            <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
                    <h5 class="card-title fw-semibold">電影票房收入(收入金額)</h5>
                    <div>
                        <input type="radio" name="selectTimeSpan" onclick="loadMovieIncomeByDay()" checked />
                        <label>按日期顯示</label>
                        <input type="radio" name="selectTimeSpan" onclick="loadMovieIncomeByMonth()"/>
                        <label>按月份顯示</label>
                    </div>
            </div>
            <div id="chartMovieIncome" style="min-height: 360px;">
            </div>
        </div>
    </div>
    </div>
</div>

@*Row2*@
<div class="row">
    <div class="card">
        <div class="card-body">
            <div class="d-sm-flex d-block align-items-center justify-content-between mb-9">
                <div class="mb-3 mb-sm-0">
                    <h5 class="card-title fw-semibold">電影票房收入(電影比例)</h5>
                </div>
            </div>
            <div id="chartMovieProportion" style="min-height: 360px;">
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script>

        var optionsIncome = {
            series: [{
                data: []
            }],
            chart: {
                height: 350,
                type: 'bar',
                toolbar: {
                    show: false
                },
                zoom: {
                    enabled: false
                }
            },
            plotOptions: {
                bar: {
                    borderRadius: 10,
                    dataLabels: {
                        position: 'top', 
                    },
                }
            },
            dataLabels: {
                enabled: true,
                formatter: function (val) {
                    return val + "元";
                },
                offsetY: -20,
                style: {
                    fontSize: '12px',
                    colors: ["#304758"]
                }
            },
            xaxis: {
                categories: [],                 
            },
            noData: {
                text: "Loading Data...",
                align: 'center',
            }
        };


        var chartIncome = new ApexCharts(document.querySelector("#chartMovieIncome"), optionsIncome);
        chartIncome.render();

        async function loadMovieIncomeByDay() {
            var response = await fetch('@Url.Content("~/DashBoard/getChartDataForSimpleIncomeByDay")');
            var datas = await response.json();
            await chartIncome.updateOptions({
                series: [datas.data],
                xaxis:datas.labels,
            },true,true,true);
        }
        loadMovieIncomeByDay();

        async function loadMovieIncomeByMonth() {
            var response = await fetch('@Url.Content("~/DashBoard/getChartDataForSimpleIncomeByMonth")');
            var datas = await response.json();
            await chartIncome.updateOptions({
                series: [datas.data],
                xaxis: datas.labels,
            },true,true,true);
        }
    </script>

    <script>
        var optionsProportion = {
            series: [],
            chart: {
                type: 'bar',
                height: 350,
                stacked: true,
                stackType: '100%',
                toolbar: {
                    show: false
                },
                zoom: {
                    enabled: false
                }
            },
            plotOptions: {
                bar: {
                    horizontal: false,
                }
            },
            dataLabels: {
                enabled: true
            },
            xaxis: {
                type: 'category'
            },
            noData: {
                text: "Loading Data...",
                align: 'center',
            }
        };

        var chartProportion = new ApexCharts(document.querySelector("#chartMovieProportion"), optionsProportion);
        chartProportion.render();


        async function loadMoviePortionIncome() {
            var response = await fetch('@Url.Content("~/DashBoard/getChartDataForMovieIncome")');
            var datas = await response.json();
            await chartProportion.updateSeries(datas);
        }
        loadMoviePortionIncome();

    </script>
}