
@{
    ViewData["Title"] = "couponList";
}

<div class="couponList">
	<div class="tabPlace">
		<!-- TAB1 打包區塊 start -->
		<input id="tab1" type="radio" name="tab" checked="checked" />
		<label for="tab1">最　新</label>
		<div class="tab_content">

			<a href="">
				<div class="coupon">
					<div class="couponName">
						<img src="images/icons8-coupon-64.png" alt="">
						<p>MovieHolic</p>
					</div>
					<div class="couponDetail">
						<div>
							<h3>這裡放折數?</h3>
							<h4>低消$2000最高折$20</h4>
							<h5>5.5寵愛母親節</h5>
							<h6>有效日期:2023/05/31</h6>
						</div>
						<div class="couponRule"><a href="">使用規則</a></div>

					</div>
				</div>
			</a>
			<a href="">
				<div class="coupon">
					<div class="couponName">
						<img src="images/icons8-coupon-64.png" alt="">
						<p>MovieHolic</p>
					</div>
					<div class="couponDetail">
						<div>
							<h3>這裡放折數?</h3>
							<h4>低消$2000最高折$20</h4>
							<h5>5.5寵愛母親節</h5>
							<h6>有效日期:2023/05/31</h6>
						</div>
						<div class="couponRule"><a href="">使用規則</a></div>

					</div>
				</div>
			</a>
			<a href="">
				<div class="coupon">
					<div class="couponName">
						<img src="images/icons8-coupon-64.png" alt="">
						<p>MovieHolic</p>
					</div>
					<div class="couponDetail">
						<div>
							<h3>這裡放折數?</h3>
							<h4>低消$2000最高折$20</h4>
							<h5>5.5寵愛母親節</h5>
							<h6>有效日期:2023/05/31</h6>
						</div>
						<div class="couponRule"><a href="">使用規則</a></div>

					</div>
				</div>
			</a>
			<a href="">
				<div class="coupon">
					<div class="couponName">
						<img src="images/icons8-coupon-64.png" alt="">
						<p>MovieHolic</p>
					</div>
					<div class="couponDetail">
						<div>
							<h3>這裡放折數?</h3>
							<h4>低消$2000最高折$20</h4>
							<h5>5.5寵愛母親節</h5>
							<h6>有效日期:2023/05/31</h6>
						</div>
						<div class="couponRule"><a href="">使用規則</a></div>

					</div>
				</div>
			</a>
			<a href="">
				<div class="coupon">
					<div class="couponName">
						<img src="images/icons8-coupon-64.png" alt="">
						<p>MovieHolic</p>
					</div>
					<div class="couponDetail">
						<div>
							<h3>這裡放折數?</h3>
							<h4>低消$2000最高折$20</h4>
							<h5>5.5寵愛母親節</h5>
							<h6>有效日期:2023/05/31</h6>
						</div>
						<div class="couponRule"><a href="">使用規則</a></div>

					</div>
				</div>
			</a>
			<a href="">
				<div class="coupon">
					<div class="couponName">
						<img src="images/icons8-coupon-64.png" alt="">
						<p>MovieHolic</p>
					</div>
					<div class="couponDetail">
						<div>
							<h3>這裡放折數?</h3>
							<h4>低消$2000最高折$20</h4>
							<h5>5.5寵愛母親節</h5>
							<h6>有效日期:2023/05/31</h6>
						</div>
						<div class="couponRule"><a href="">使用規則</a></div>

					</div>
				</div>
			</a>
			<a href="">
				<div class="coupon">
					<div class="couponName">
						<img src="images/icons8-coupon-64.png" alt="">
						<p>MovieHolic</p>
					</div>
					<div class="couponDetail">
						<div>
							<h3>這裡放折數?</h3>
							<h4>低消$2000最高折$20</h4>
							<h5>5.5寵愛母親節</h5>
							<h6>有效日期:2023/05/31</h6>
						</div>
						<div class="couponRule"><a href="">使用規則</a></div>

					</div>
				</div>
			</a>
			<a href="">
				<div class="coupon">
					<div class="couponName">
						<img src="images/icons8-coupon-64.png" alt="">
						<p>MovieHolic</p>
					</div>
					<div class="couponDetail">
						<div>
							<h3>這裡放折數?</h3>
							<h4>低消$2000最高折$20</h4>
							<h5>5.5寵愛母親節</h5>
							<h6>有效日期:2023/05/31</h6>
						</div>
						<div class="couponRule"><a href="">使用規則</a></div>

					</div>
				</div>
			</a>
			<a href="">
				<div class="coupon">
					<div class="couponName">
						<img src="images/icons8-coupon-64.png" alt="">
						<p>MovieHolic</p>
					</div>
					<div class="couponDetail">
						<div>
							<h3>這裡放折數?</h3>
							<h4>低消$2000最高折$20</h4>
							<h5>5.5寵愛母親節</h5>
							<h6>有效日期:2023/05/31</h6>
						</div>
						<div class="couponRule"><a href="">使用規則</a></div>

					</div>
				</div>
			</a>
			<a href="">
				<div class="coupon">
					<div class="couponName">
						<img src="images/icons8-coupon-64.png" alt="">
						<p>MovieHolic</p>
					</div>
					<div class="couponDetail">
						<div>
							<h3>這裡放折數?</h3>
							<h4>低消$2000最高折$20</h4>
							<h5>5.5寵愛母親節</h5>
							<h6>有效日期:2023/05/31</h6>
						</div>
						<div class="couponRule"><a href="">使用規則</a></div>

					</div>
				</div>
			</a>
		</div>
		<!-- TAB1 打包區塊 end -->
		<!-- TAB2 打包區塊 start -->
		<input id="tab2" type="radio" name="tab" />
		<label for="tab2">無　效</label>
		<div class="tab_content">

			<a href="">
				<div class="coupon usedCoupon">
					<div class="couponName">
						<img src="images/icons8-coupon-64.png" alt="">
						<p>MovieHolic</p>
					</div>
					<div class="couponDetail">
						<div>
							<h3>這裡放折數?</h3>
							<h4>低消$2000最高折$20</h4>
							<h5>5.5寵愛母親節</h5>
							<h6>有效日期:2023/05/31</h6>
						</div>
						<div class="couponRule"><a href="">使用規則</a></div>
					</div>
				</div>
			</a>
			<a href="">
				<div class="coupon usedCoupon">
					<div class="couponName">
						<img src="images/icons8-coupon-64.png" alt="">
						<p>MovieHolic</p>
					</div>
					<div class="couponDetail">
						<div>
							<h3>這裡放折數?</h3>
							<h4>低消$2000最高折$20</h4>
							<h5>5.5寵愛母親節</h5>
							<h6>有效日期:2023/05/31</h6>
						</div>
						<div class="couponRule"><a href="">使用規則</a></div>
					</div>
				</div>
			</a>
			<a href="">
				<div class="coupon usedCoupon">
					<div class="couponName">
						<img src="images/icons8-coupon-64.png" alt="">
						<p>MovieHolic</p>
					</div>
					<div class="couponDetail">
						<div>
							<h3>這裡放折數?</h3>
							<h4>低消$2000最高折$20</h4>
							<h5>5.5寵愛母親節</h5>
							<h6>有效日期:2023/05/31</h6>
						</div>
						<div class="couponRule"><a href="">使用規則</a></div>
					</div>
				</div>
			</a>
			<a href="">
				<div class="coupon usedCoupon">
					<div class="couponName">
						<img src="images/icons8-coupon-64.png" alt="">
						<p>MovieHolic</p>
					</div>
					<div class="couponDetail">
						<div>
							<h3>這裡放折數?</h3>
							<h4>低消$2000最高折$20</h4>
							<h5>5.5寵愛母親節</h5>
							<h6>有效日期:2023/05/31</h6>
						</div>
						<div class="couponRule"><a href="">使用規則</a></div>
					</div>
				</div>
			</a>
			<a href="">
				<div class="coupon usedCoupon">
					<div class="couponName">
						<img src="images/icons8-coupon-64.png" alt="">
						<p>MovieHolic</p>
					</div>
					<div class="couponDetail">
						<div>
							<h3>這裡放折數?</h3>
							<h4>低消$2000最高折$20</h4>
							<h5>5.5寵愛母親節</h5>
							<h6>有效日期:2023/05/31</h6>
						</div>
						<div class="couponRule"><a href="">使用規則</a></div>
					</div>
				</div>
			</a>
			<a href="">
				<div class="coupon usedCoupon">
					<div class="couponName">
						<img src="images/icons8-coupon-64.png" alt="">
						<p>MovieHolic</p>
					</div>
					<div class="couponDetail">
						<div>
							<h3>這裡放折數?</h3>
							<h4>低消$2000最高折$20</h4>
							<h5>5.5寵愛母親節</h5>
							<h6>有效日期:2023/05/31</h6>
						</div>
						<div class="couponRule"><a href="">使用規則</a></div>
					</div>
				</div>
			</a>
			<a href="">
				<div class="coupon usedCoupon">
					<div class="couponName">
						<img src="images/icons8-coupon-64.png" alt="">
						<p>MovieHolic</p>
					</div>
					<div class="couponDetail">
						<div>
							<h3>這裡放折數?</h3>
							<h4>低消$2000最高折$20</h4>
							<h5>5.5寵愛母親節</h5>
							<h6>有效日期:2023/05/31</h6>
						</div>
						<div class="couponRule"><a href="">使用規則</a></div>
					</div>
				</div>
			</a>
			<a href="">
				<div class="coupon usedCoupon">
					<div class="couponName">
						<img src="images/icons8-coupon-64.png" alt="">
						<p>MovieHolic</p>
					</div>
					<div class="couponDetail">
						<div>
							<h3>這裡放折數?</h3>
							<h4>低消$2000最高折$20</h4>
							<h5>5.5寵愛母親節</h5>
							<h6>有效日期:2023/05/31</h6>
						</div>
						<div class="couponRule"><a href="">使用規則</a></div>
					</div>
				</div>
			</a>
		</div>
		<!-- TAB2 打包區塊 end -->
		<!-- TAB3 打包區塊 start -->
		<input id="tab3" type="radio" name="tab" />
		<label for="tab3">已使用</label>
		<div class="tab_content">
			<a href="">
				<div class="coupon usedCoupon">
					<div class="couponName">
						<img src="images/icons8-coupon-64.png" alt="">
						<p>MovieHolic</p>
					</div>
					<div class="couponDetail">
						<div>
							<h3>這裡放折數?</h3>
							<h4>低消$2000最高折$20</h4>
							<h5>5.5寵愛母親節</h5>
							<h6>有效日期:2023/05/31</h6>
						</div>
						<div class="couponRule"><a href="">使用規則</a></div>
					</div>
				</div>
			</a>
			<a href="">
				<div class="coupon usedCoupon">
					<div class="couponName">
						<img src="images/icons8-coupon-64.png" alt="">
						<p>MovieHolic</p>
					</div>
					<div class="couponDetail">
						<div>
							<h3>這裡放折數?</h3>
							<h4>低消$2000最高折$20</h4>
							<h5>5.5寵愛母親節</h5>
							<h6>有效日期:2023/05/31</h6>
						</div>
						<div class="couponRule"><a href="">使用規則</a></div>
					</div>
				</div>
			</a>
			<a href="">
				<div class="coupon usedCoupon">
					<div class="couponName">
						<img src="images/icons8-coupon-64.png" alt="">
						<p>MovieHolic</p>
					</div>
					<div class="couponDetail">
						<div>
							<h3>這裡放折數?</h3>
							<h4>低消$2000最高折$20</h4>
							<h5>5.5寵愛母親節</h5>
							<h6>有效日期:2023/05/31</h6>
						</div>
						<div class="couponRule"><a href="">使用規則</a></div>
					</div>
				</div>
			</a>
			<a href="">
				<div class="coupon usedCoupon">
					<div class="couponName">
						<img src="images/icons8-coupon-64.png" alt="">
						<p>MovieHolic</p>
					</div>
					<div class="couponDetail">
						<div>
							<h3>這裡放折數?</h3>
							<h4>低消$2000最高折$20</h4>
							<h5>5.5寵愛母親節</h5>
							<h6>有效日期:2023/05/31</h6>
						</div>
						<div class="couponRule"><a href="">使用規則</a></div>
					</div>
				</div>
			</a>
			<a href="">
				<div class="coupon usedCoupon">
					<div class="couponName">
						<img src="images/icons8-coupon-64.png" alt="">
						<p>MovieHolic</p>
					</div>
					<div class="couponDetail">
						<div>
							<h3>這裡放折數?</h3>
							<h4>低消$2000最高折$20</h4>
							<h5>5.5寵愛母親節</h5>
							<h6>有效日期:2023/05/31</h6>
						</div>
						<div class="couponRule"><a href="">使用規則</a></div>
					</div>
				</div>
			</a>
		</div>
		<!-- TAB3 打包區塊 end -->
	</div>








</div>



