
@{
    ViewData["Title"] = "MovieHolic 忘記密碼";
}

<div id="page2">
    <div class="body1">
        <div class="body3">
            <div class="main">
                <!-- content -->
                <section id="content">
                    <div class="line1 wrapper">
                        <div class="logInBox">
                            <h3 style="font-size:20px">忘記密碼</h3>
                            <hr>
                            <div class="logInBoxSmall">
                                <hr>
                                <hr>
                                <form asp-action="forgetPassword">
                                    <h6>別擔心！讓我們協助您重新設定</h6>
                                    <hr>
                                    <hr>
                                    <input type="text" name="txtForgetPasswordEmail" id="txtForgetPasswordEmail" placeholder="請輸入註冊時的Email">
                                    <hr>
                                    <hr>
                                    <hr>
                                    <a href=""><input class="ourButton" id="submit" type="submit" value="送出" /></a>
                                    <a href="@Url.Action("memberLogin","memberFront")"><input class="ourButton" type="button" id="cancel" value="取消"></a>
                                    <hr >
                                    <input class="ourButton" id="Demo" type="button" value="Demo" />
                                </form>
                                <hr>
                                <hr>
                                <p>——————————————————</p>
                                <hr>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>
        const forgetPasswordEmail = document.querySelector('#txtForgetPasswordEmail');
        const submit=document.querySelector('#submit')
        submit.addEventListener('click',async (event) => {
            event.preventDefault();
            const response = await fetch(`@Url.Content("~/memberFront/IsForgetPassword")?email=` + forgetPasswordEmail.value, { method: 'POST' })
            const data= await response.json();
            console.log(data)
            if (data.success) {
                // 成功寄送新密碼，顯示提示訊息
                alert(data.message);
                window.location.href="/memberFront/memberLogin";
            } else {
                // 無法寄送新密碼，顯示錯誤訊息
                alert(data.message);
            }
        })
        const Demo = document.querySelector('#Demo');
        Demo.addEventListener('click',()=>{
            forgetPasswordEmail.value="zhuo.demo222@gmail.com"
        })


    </script>
}
