
@{
    ViewData["Title"] = "forgetPassword";
}

<div id="page2">
    <div class="body1">
        <div class="body3">
            <div class="main">
                <!-- content -->
                <section id="content">
                    <div class="line1 wrapper">
                        <div class="logInBox">
                            <h3 style="font-size:20px">忘記密碼</h3>
                            <hr>
                            <div class="logInBoxSmall">
                                <hr>
                                <hr>
                                <form>
                                    <h6>別擔心！讓我們協助您重新設定</h6>
                                    <hr>
                                    <hr>
                                    <input type="text" name="txtForgetPasswordEmail" value="" placeholder="請輸入註冊時的Email">
                                    <hr>
                                    <a href=""><input class="loginButton" type="submit" value="送出" /></a>
                                </form>
                                <hr>
                                <hr>
                                <p>——————————————————</p>
                                <hr>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

