
@{
    ViewData["Title"] = "memberLogin";
}

<div id="page2">
    <div class="body1">
        <div class="body3">
            <div class="main">
                <!-- content -->
                <section id="content">
                    <div class="line1 wrapper">
                        <div class="logInBox">
                            <h3 style="font-size:20px">會員登入</h3>
                            <hr>
                            <div class="logInBoxSmall">
                                <form asp-action="memberLogin">
                                <h6>帳號</h6>
                                    <input type="text" name="txtAccount" value="0923906031">
                                <h6>密碼</h6>
                                    <input type="password" name="txtPassword" value="Xpe49cFb">
                                <hr>
                                <input type="checkbox" name="" id=""><span>保持登入</span>
                                <hr>
                                <hr>
                                    <a href=""><input class="loginButton" type="submit" value="登入" /></a>
                                </form>
                                <hr>
                                @Html.ActionLink("忘記密碼？","forgetPassword","memberFront")
                                <hr>
                                <p>————————OR————————</p>
                                <hr>
                                <a href=""><img src="/images/icons8-facebook-48.png" alt=""></a>
                                <a href=""><img src="/images/icons8-twitter-circled-48.png" alt=""></a>
                                <a href=""><img src="/images/icons8-google-plus-48.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
