
@{
    ViewData["Title"] = "memberLogin";
}
<div id="page2">
    <div class="body1">
        <div class="body3">
            <div class="main">
                <!-- content -->
                <section id="content">
                    <div class="line1 wrapper">
                        <div class="logInBox">
                            <h3 style="font-size:20px">會員登入</h3>
                            <hr>
                            <div class="logInBoxSmall">
                                <form asp-action="memberLogin">
                                <h6>帳號</h6>
                                    <input type="text" name="txtAccount" id="txtAccount" value="">
                                <h6>密碼</h6>
                                    <input type="password" name="txtPassword" id="txtPassword" value="">
                                    <p> @Html.ActionLink("忘記密碼？","forgetPassword","memberFront")   </p>
                                    <hr />
                                    <hr />
                                @*<input type="checkbox" name="" id=""><span>保持登入</span>*@
                                    <a href=""><input class="loginButton" type="submit" id="submit" value="登入" /></a>
                                    <input class="ourButton" type="button" id="loginDemo" value="Demo" />
                                    <input class="ourButton" type="button" id="loginDemo2" value="Demo2" />
                                    <input class="ourButton" type="button" id="loginDemo3" value="Demo3" />
                                <hr>
                                    <span>還不是會員嗎？</span>@Html.ActionLink("註冊會員","memberSignUp","memberFront")
                                </form>
                                <hr>
                                <hr>
                                <p>————————OR————————</p>
                                <hr>
                                <a href=""><img src="~/images/icons8-facebook-48.png" alt=""></a>
                                <a href=""><img src="~/images/icons8-twitter-circled-48.png" alt=""></a>
                                <a href=""><img src="~/images/icons8-google-plus-48.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        const txtAccount = document.querySelector('#txtAccount');
        const txtPassword=document.querySelector('#txtPassword');
        const submit = document.querySelector('#submit');
        const loginDemo=document.querySelector('#loginDemo');
        const loginDemo2 = document.querySelector('#loginDemo2');
        const loginDemo3 = document.querySelector('#loginDemo3');
        submit.addEventListener('click', async () => {
            const response = await fetch(`@Url.Content("~/memberFront/IsLogin")?txtAccount=` + txtAccount.value + "&txtPassword=" +txtPassword.value, { method: 'POST' })
            const data = await response.json();
            console.log(data)
            if (!data.success) {
                // 登入失敗
                alert(data.message);
            }
        })

        loginDemo.addEventListener('click', function () {
            txtAccount.value = '0923906031';
            txtPassword.value = 'Xpe49cFb';
        })
        loginDemo2.addEventListener('click', function () {
            txtAccount.value = '0923906031';
            txtPassword.value = '8M43Td24';
        })
        loginDemo3.addEventListener('click', function () {
            txtAccount.value = '0983556965';
            txtPassword.value = '5CUSfTPO';
        })



    </script>
}