
@{
    ViewData["Title"] = "passwordEdit";
}

<div id="page2">
    <div class="body1">
        <div class="body3">
            <div class="main">
                <!-- content -->
                <section id="content">
                    <div class="line1 wrapper">
                        <div class="wrapper tabs memCut">
                            <article class="memberMenu">
                                <h3 style="font-size:20px">歡迎，@Model.FName</h3>
                                <hr />
                                <div class="pad">
                                    <ul class="nav">
                                        <li>@Html.ActionLink("會員資料", "memberList","memberFront",new { id=Model.FMemberId },null)</li>
                                        <li>@Html.ActionLink("資料修改", "memberEdit","memberFront",new { id=Model.FMemberId },null)</li>
                                        <li><a href="#Wedding">訂單查詢</a></li>
                                        <li><a href="#Reportage">我的最愛</a></li>
                                        <li><a href="#Advertising">我的優惠券</a></li>
                                        <li><a href="#Advertising">我的評論</a></li>
                                        <li><a href="#Portrait">登出</a></li>
                                    </ul>
                                </div>
                            </article>
                            <div class="memberInformation">
                                <div class="MemberPasswordChangeform">
                                    <form asp-action="passwordEdit" method="post">
                                        <input type="hidden" value="@Model.FMemberId" name="FMemberId" />
                                        <p>密碼：<input type="password" name="txtPreviousFPassword" id="txtPreviousFPassword" required></p>
                                        <p id="passwordCheck"></p>
                                        <p>新設密碼：<input type="password" name="txtNewFPassword" id="txtNewFPassword" required></p>
                                        <p id="passwordFormat"></p>
                                        <p>密碼確認：<input type="password" name="txtNewFPasswordCheck" id="txtNewFPasswordCheck" required></p>
                                        <p id="passwordDoubleCheck"></p>
                                    <br>
                                    <div class="MemberEditSubmit"><input class="button" type="submit" value="送出"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        const previousPassword = document.querySelector('#txtPreviousFPassword');
        const passwordCheck = document.querySelector('#passwordCheck');
        const newPassword = document.querySelector('#txtNewFPassword');
        const passwordFormat = document.querySelector('#passwordFormat');
        const newPasswordCheck = document.querySelector('#txtNewFPasswordCheck');
        const passwordDoubleCheck = document.querySelector('#passwordDoubleCheck');

        previousPassword.addEventListener('blur', async () => {
            //判斷密碼是否符合
            const response = await fetch(`@Url.Content("~/memberFront/passwordCheck")?previousPassword=` + previousPassword.value);
            const data = await response.text();
            
            let message = '密碼錯誤';
            if (data === "True") {
                message = ''
            }
            passwordCheck.innerHTML = message;
        })
        newPassword.addEventListener('blur', async () => {
            // todo 新密碼格式驗證
            const response = await fetch(`@Url.Content("~/memberFront/passwordFormat")?newPassword=` + newPassword.value);
            const data = await response.text();
            
            let message = '請輸入8碼 ~16碼的密碼，密碼必須含大小寫英文字母及數字';
            if (data === "True") {
                message = ''
            }
            passwordFormat.innerHTML = message;
        })
        newPasswordCheck.addEventListener('blur', async () => {
            // todo 新密碼反覆確認
            const response = await fetch(`@Url.Content("~/memberFront/passwordDoubleCheck")?newPassword=` + newPassword.value + '&newPasswordCheck=' + newPasswordCheck.value);
            const data = await response.text();
            console.log(data);
            let message = '請確認您的新密碼是否正確';
            if (data === "True") {
                message = ''
            }
            passwordDoubleCheck.innerHTML=message;
        })

    </script>
}
