@model prjMovieHolic.ViewModels.CMovieFrontViewModel


@{
    ViewData["Title"] = "Home Page";
}

<h1></h1>

<div id="page1">
    <div class="body1">
        <div class="main">
            <!-- 這塊不要管它  拿掉會破圖-->
            <div class="ic">More Website Templates at <a href="https://www.webmoban.net">Website Template</a></div>


           @* <!-- 點播機cover Flow-->
            <!-- 放7張會顯示五張。放五張顯示三張-->
            <div class="relative">
                <div id="gallery">
                    <ul id="myRoundabout">
                        <li><img src="~/images/aa.jpg" alt=""></li>
                        <li><img src="~/images/bb.jpg" alt=""></li>
                        <li><img src="~/images/aa.jpg" alt=""></li>
                        <li><img src="~/images/aa.jpg" alt=""></li>
                        <li><img src="~/images/aa.jpg" alt=""></li>
                        <li><img src="~/images/aa.jpg" alt=""></li>
                        <li><img src="~/images/aa.jpg" alt=""></li>
                    </ul>
                </div>
            </div>*@
            

            <!--這是旁邊快速訂票浮動視窗-->

            <div class="position">
                <p>快速訂票</p>
                <select name="" id="">
                    <option value="">選擇電影</option>
                    <option value="">電影名稱電影名稱電影</option>
                    <option value="">基本上只能塞十個字</option>
                    <option value="">不然會變形喔</option>
                </select>
            </div>


            <!--熱門電影分隔線-->
            <div class="myBr"></div>
            <div class="hotMoviePlaceLine">
                <ul class="hotMoviePlaceLineMenu">
                    <li style="font-size: 26px;">現正熱映</li>
                    <li><a href=""></a></li>
                </ul>
            </div>
            <!-- content -->
            <!-- 熱門電影區塊-->

            <section id="">
                <div class="line1">
                    <div class="line2 wrapper">
                        <div class="movieWallMovies">
                            
                            @foreach (var movie in Model.NowShowingMovies)
                            {
                                <!-- 熱門電影1-->
                                <div class="movieCardBig">
                                    <article class="movieCard">
                                        <a href="/MovieFront/MovieDetails?id=@movie.FId">
                                            <br>
                                            <figure>
                                                <img src="~/@movie.FPosterPath" alt="" >
                                            </figure>
                                            <div>
                                                <h3>@movie.FNameCht</h3>
                                                <ul>
                                                    <li class="movieEnglishName">(@movie.FNameEng)</li>
                                                    <hr>
                                                    <li>上映日期：@movie.FScheduleStart.ToString("yyyy/MM/dd")</li>
                                                    <li>片長：@movie.FShowLength 分鐘</li>
                                                </ul>
                                            </div>
                                        </a>
                                    </article>
                                    <div class="likeAndBuy">

                                        <div><a class="buyNow">Buy Now</a></div>
                                        <div>
                                            <p>❤</p>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </section>

            <!-- / 動了會破圖-->
            <div class="ic"> <a href="https://www.webmoban.net"></a></div>
            <!-- / header-->
            <div class="myBr"></div>
            <!--第二條分隔線-->
            <div class="notYetMoviePlaceLine">
                <ul class="notYetMoviePlaceLineMenu">
                    <li style="font-size: 26px;">即將上映</li>
                    <li><a href=""></a></li>
                </ul>
            </div>
            <!-- 即將上映電影區塊-->
            <section id="content">
                <div class="line1">
                    <div class="line2 wrapper">
                        <div class="movieWallMovies">
                            @foreach (var movie in Model.UpcomingMovies)
                            {
                                <!-- 電影1-->
                                <div class="movieCardBig">
                                    <article class="movieCard">
                                        <a href="/MovieFront/MovieDetails?id=@movie.FId">
                                            <br>
                                            <figure>
                                                <img src="~/@movie.FPosterPath" alt="">
                                            </figure>
                                            <div>
                                                <h3>@movie.FNameCht</h3>
                                                <ul>
                                                    <li class="movieEnglishName">(@movie.FNameEng)</li>
                                                    <hr>
                                                    <li>上映日期：@movie.FScheduleStart.ToString("yyyy/MM/dd")</li>
                                                    <li>片長：@movie.FShowLength 分鐘</li>
                                                </ul>
                                            </div>
                                        </a>
                                    </article>
                                    <div class="likeAndBuy">

                                        <div><a class="buyNow">Buy Now</a></div>
                                        <div>
                                            <p>❤</p>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>