@{
    ViewData["Title"] = "manageLogin";
}
<div id="page2">
    <div class="body1">
        <div class="body3">
            <div class="main">
                <!-- content -->
                <section id="content">
                    <div class="line1 wrapper">
                        <div class="logInBox">
                            <h3 style="font-size:20px">後台管理登入</h3>
                            <hr>
                            <div class="logInBoxSmall">
                                <form asp-action="LogIn">
                                    <h6>帳號</h6>
                                    <input type="text" name="txtAccount" id="txtAccount" value="">
                                    <h6>密碼</h6>
                                    <input type="password" name="txtPassword" id="txtPassword" value="">
                                    <hr />
                                    <hr />
                                    <a href=""><input class="loginButton" type="submit" id="submit" value="登入" /></a>
                                    <input class="loginButton" type="button" id="loginDemo" value="Demo" />
                                    <hr>
                                </form>
                                <hr>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        const txtAccount = document.querySelector('#txtAccount');
        const txtPassword = document.querySelector('#txtPassword');
        const submit = document.querySelector('#submit');
        const loginDemo = document.querySelector('#loginDemo');
        submit.addEventListener('click', async () => {
            const response = await fetch(`@Url.Content("~/BackLogIn/IsLogin")?txtAccount=` + txtAccount.value + "&txtPassword=" + txtPassword.value, { method: 'POST' })
            const data = await response.json();
            console.log(data)
            if (!data.success) {
                // 登入失敗
                alert(data.message);
            }
        })

        loginDemo.addEventListener('click', function () {
            txtAccount.value = 'neil0101';
            txtPassword.value = '0001';
        })
    </script>
}