@model prjMovieHolic.Models.TArticle

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
<!-- Bootstrap ICONS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
<link rel="stylesheet" href="~/css/style.css">
<link rel="stylesheet" href="~/css/myStyle.css">
<style>
    .left {
        margin-top: 80px;
    }
    .container {
        width: 880px;
    }
</style>
}
<h1>Create</h1>

<h4>TArticle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FMemberId" class="control-label"></label>
                <select asp-for="FMemberId" class ="form-control" asp-items="ViewBag.FMemberId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FMovieId" class="control-label"></label>
                <select asp-for="FMovieId" class ="form-control" asp-items="ViewBag.FMovieId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FScore" class="control-label"></label>
                <input asp-for="FScore" class="form-control" />
                <span asp-validation-for="FScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FTitle" class="control-label"></label>
                <input asp-for="FTitle" class="form-control" />
                <span asp-validation-for="FTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FTimeCreated" class="control-label"></label>
                <input asp-for="FTimeCreated" class="form-control" />
                <span asp-validation-for="FTimeCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FTimeEdited" class="control-label"></label>
                <input asp-for="FTimeEdited" class="form-control" />
                <span asp-validation-for="FTimeEdited" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FBlockJson" class="control-label"></label>
                <input asp-for="FBlockJson" class="form-control" />
                <span asp-validation-for="FBlockJson" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="FIsPublic" /> @Html.DisplayNameFor(model => model.FIsPublic)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
