@font-face {
    /*香菜體*/
    font-family: font1;
    src: url(../fonts/Iansui094-Regular.woff)format("woff"), url(../fonts/Iansui094-Regular.eot)format("embedded-opentype"), url(../fonts/Iansui094-Regular.ttf)format("truetype");
}

.fon1 {
    font-family: font1;
}

.delete {
    cursor: pointer;
    font-size: 28px;
    font-weight: bolder;
    width: 186px;
    float: right;
    text-align: center;
    padding-top: 25px;
}

    .delete a {
        text-decoration: none;
    }
/*浮動區塊*/
.position {
    background: -webkit-linear-gradient(#10a5d6,#eaeaea);
    background-color: #10a5d6;
    width: 200px;
    height: 120px;
    border-radius: 5px;
    padding-top: 50px;
    text-align: center;
    /*浮動視窗螢幕位置*/
    position: fixed;
    top: 700px;
    right: 30px;
}

    .position:hover {
        background-color: #105190;
    }

    .position p {
        color: #eaeaea;
        font-size: 26px;
        font-weight: 900;
    }

    .position select {
        width: 180px;
        height: 30px;
        font-size: 20px;
    }


.myBr {
    height: 25px;
}

.hotMoviePlaceLine {
    height: 45px;
    background-color: #3a3939;
}

.hotMoviePlaceLineMenu {
    padding: 13px 10px 0px 10px;
    color: rgb(250, 248, 248);
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.wrapper2 {
    display: flex;
    justify-content: space-between;
}

.movieCard a {
    text-decoration: none;
}

.movieCardFontColorBlack {
    color: #111;
}

.movieCard:hover {
    background-color: darkgrey;
}

.movieCard img {
    width: 200px;
}

.movieCard h3 {
    font-size: 22px;
    color: #373737;
}

.movieCard li {
    font-size: 18px;
    color: #373737;
}

.likeAndBuy {
    display: flex;
}

    .likeAndBuy p {
        margin-top: 16px;
        height: 32px;
        padding: 0 10px;
        font-size: 20px;
        line-height: 32px;
        margin-left: 70px;
        color: #eaeaea;
        background-color: #10a5d6;
        border-radius: 5px;
        cursor: pointer;
    }

    .likeAndBuy a {
        text-decoration: none;
    }

.buyNow {
    display: inline-block;
    color: #fff;
    line-height: 28px;
    text-decoration: none;
    padding: 3px 14px;
    background: #10a5d6;
    border-radius: 5px;
    margin-top: 15px;
}

    .buyNow:hover {
        background: #373737
    }

.notYetMoviePlaceLine {
    height: 45px;
    background-color: #3a3939;
}

.notYetMoviePlaceLineMenu {
    padding: 13px 10px 0px 10px;
    color: rgb(250, 248, 248);
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.homePagebottom {
    /*background: #363636;*/
    /*background-color: rgb(19, 32, 49);*/
    height: 160px;
    width: 1016px;
    margin: 0 auto;
    padding: 60px;
    display: flex;
    justify-content: space-around;
}

.bottomLinkbox {
    color: #237d9b;
}

    .bottomLinkbox h3 {
        font-size: 20px;
        margin-bottom: 20px;
        margin-left: 8px;
    }

    .bottomLinkbox li {
        font-size: 14px;
        margin: 10px;
    }

/*婷婷快速訂票的東西*/
/*流程圓圈在這裡*/
.orderStep {
    margin-bottom: 30px;
}

    .orderStep a {
        text-decoration: none;
    }

    .orderStep ul {
        display: flex;
        justify-content: space-around;
    }

    .orderStep img {
        margin-top: 50px;
        width: 20px;
    }

.liInOrderstep {
    background-color: #10a5d6;
    border: 10px solid rgb(236, 236, 236);
    color: #fff;
    display: block;
    border-radius: 75px;
    width: 120px;
    height: 120px;
    font-size: 20px;
    line-height: 100px;
    text-align: center;
}
/*特別變色的圈圈是這一塊*/
.liInOrderstephere {
    background-color: #105190;
    color: #eaeaea;
    display: block;
    border-radius: 75px;
    border: 10px solid #105190;
    width: 120px;
    height: 120px;
    font-size: 24px;
    font-weight: 900;
    line-height: 100px;
    text-align: center;
}
/*流程圓圈到此結束*/

.orderBox {
    display: flex;
    margin-left: 20px;
    margin-top: 80px;
}

    .orderBox h4 {
        font-size: 30px;
        padding-bottom: 15px;
        text-align: center;
    }

.orderMovieImage {
    width: 350px;
}

figure ul {
    padding-top: 7px;
}

figure li {
    padding-top: 3px;
    font-size: 20px;
}

figure span {
    font-weight: bold;
    margin-right: 10px;
}

.pick {
    margin-left: 80px;
}

.pickDate {
    display: flex;
    border-bottom: 1px solid silver;
    margin-left: 30px;
    overflow: auto;
    max-height: 150px;
    max-width: 430px;
}

    .pickDate::-webkit-scrollbar {
        background: transparent;
        height: 6px;
    }

    .pickDate::-webkit-scrollbar-thumb {
        background-color: silver;
    }

    .pickDate li {
        border: 1px solid silver;
        padding: 5px;
        margin-right: 15px;
        margin-bottom: 5px;
        font-size: 20px;
        height: 50px;
        width: 90px;
        text-align: center;
    }

        .pickDate li:hover {
            background-color: #10a5d6;
            color: #eaeaea;
        }

    .pickDate a {
        text-decoration: none;
        cursor: pointer; /*滑鼠手手回來了*/
    }

.pickCinemaAndTime h3 {
    font-size: 24px;
    margin: 30px;
}

.pickCinemaAndTime ul {
    display: flex;
    margin: 30px;
    font-size: 16px;
}

.pickCinemaAndTime li {
    margin-right: 25px;
    border: 1px solid silver;
    padding: 3px;
    margin-bottom: 20px;
    font-size: 20px;
}

.chooseTime {
    border-bottom: 1px solid silver;
    width: 430px;
    overflow: auto;
}

    .chooseTime::-webkit-scrollbar {
        background: transparent;
        height: 6px;
    }

    .chooseTime::-webkit-scrollbar-thumb {
        background-color: silver;
    }

    .chooseTime li {
        width: 70px;
        height: 30px;
        text-align: center;
    }

        .chooseTime li:hover {
            background-color: #10a5d6;
            color: #eaeaea;
        }
/*下一步按鍵的位置調整*/
.toRight {
    background-color: #10a5d6;
    float: right;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
    margin-right: 15px;
}
/*已點項目小框框*/
.alreadyOrder {
    width: 430px;
    margin-top: 52px;
    margin-bottom: 20px;
    padding-top: 8px;
    border: 1px solid silver;
    border-radius: 5px;
}

    .alreadyOrder h3 {
        padding: 5px;
        font-size: 24px;
        border-bottom: 1px silver solid;
    }

    .alreadyOrder li {
        font-size: 20px;
        margin-top: 10px;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-right: 12px;
        border-bottom: 1px solid silver;
    }

    .alreadyOrder span {
        font-weight: bolder;
        padding: 20px;
    }
/*票種*/
.pickTicket {
    width: 450px;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 28px;
    padding-top: 20px;
    border-bottom: 1px solid silver;
}

    .pickTicket h3 {
        text-align: left;
        border: 1px solid silver;
        padding-top: 5px;
        padding-left: 5px;
        font-size: 24px;
        line-height: 40px;
    }

.aa {
    padding-right: 12px;
}

.Ticket ul {
    display: flex;
    justify-content: space-between;
    border: 2px solid silver;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
}

.Ticket li {
    font-size: 20px;
}

.fontFat {
    font-weight: bolder;
}

.Ticket button {
    background-color: #10a5d6;
    color: #eaeaea;
    border-radius: 5px;
    width: 30px;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bolder;
}

.labUsingCoupon {
    line-height: 36px;
}

.txtUsingCoupon {
    border: 1px solid silver;
    border-radius: 5px;
    width: 170px;
    margin-right: 20px;
}

.btnGoToCoupon {
    background-color: #10a5d6;
    padding: 10px;
    border-radius: 5px;
    color: #eaeaea;
}

/*選擇座位*/
.orderDetailOnChooseSit {
    margin-bottom: 20px;
}

    .orderDetailOnChooseSit ul {
        display: flex;
        justify-content: space-between;
    }

    .orderDetailOnChooseSit li {
        width: 180px;
        height: 50px;
        border-left: 1px solid silver;
        text-align: center;
        padding: 10px;
    }

    .orderDetailOnChooseSit h3 {
        font-size: 18px;
    }

    .orderDetailOnChooseSit h4 {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 5px;
    }

.addBorderRight {
    border-right: 1px solid silver;
}

.Tingbox {
    border: 1px solid silver;
}

.sellSold {
    margin: 0 auto;
    margin-top: 20px;
    width: 200px;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
}

.sell {
    width: 18px;
    height: 18px;
    background-color: #eaeaea;
    border: 1px solid silver;
    border-radius: 15px;
}

.sold {
    width: 18px;
    height: 18px;
    background-color: dimgray;
    border: 1px solid silver;
    border-radius: 15px;
}

.sell1 {
    width: 28px;
    height: 28px;
    background-color: #eaeaea;
    border: 1px solid silver;
    border-radius: 15px;
    margin-right: 13px;
}
.sell1:hover {
    cursor:pointer;
}
.hidden2 {
    width: 28px;
    height: 28px;
    background-color: #eaeaea;
    border: 1px solid silver;
    border-radius: 15px;
    margin-right: 13px;
    visibility:hidden;
}
.disabled3 {
    width: 28px;
    height: 28px;
    background-color: #10a5d6;
    border: 1px solid silver;
    border-radius: 15px;
    margin-right: 13px;
}

.sold4 {
    width: 28px;
    height: 28px;
    background-color: dimgray;
    border: 1px solid silver;
    border-radius: 15px;
    margin-right: 13px;
}

.screen {
    background-color: aliceblue;
    border-radius: 15px;
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top: 5px;
    font-size: 36px;
    color: #999;
    margin-bottom: 20px;
}

.soManySit {
    background-color: lavender;
    border-radius: 15px;
    width: 100%;
    height: 780px;
    margin-bottom: 20px;
    padding-top: 13px;
}

.rowSit {
    margin-bottom: 5px;
    margin-left: 13px;
}

/*上面大致是婷婷的區塊*/

/*以下宜霈的會員開始*/
.memCut {
    display: flex;
    justify-content: space-around;
}
/*會員選單*/
.memberMenu {
    width: 240px;
}
/*會員資料顯示區塊*/
.memberInformation {
    width: 550px;
}

    .memberInformation p {
        text-align: right;
        font-size: 16px;
    }

.memberTable {
    width: 550px;
}

    .memberTable tr {
        font-size: 20px;
        line-height: 80px;
    }

    .memberTable th {
        border-bottom: 1px solid silver;
    }

    .memberTable td {
        border-bottom: 1px solid silver;
        text-align: right;
    }

    .memberTable input {
        border: 1px solid silver;
        border-radius: 5px;
    }

.MemberEditSubmit {
    text-align: right;
}

/*會員密碼修改盒子*/
.MemberPasswordChangeform {
    padding-top: 90px;
    padding-right: 50px;
}

    .MemberPasswordChangeform input {
        border: 1px solid silver;
    }

    .MemberPasswordChangeform form {
        border-bottom: 1px solid silver;
    }


/*登入畫面*/
.logInBox {
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
}

.logInBoxSmall {
    border: 3px solid silver;
    border-radius: 15px;
    width: 300px;
    height: 400px;
    padding-top: 20px;
    display: inline-block;
}

    .logInBoxSmall h6 {
        color: rgb(116, 114, 114);
        font-size: 16px;
        margin-bottom: 5px;
    }

    .logInBoxSmall input {
        border: 1px solid silver;
    }

    .logInBoxSmall a {
        text-decoration: none;
    }

        .logInBoxSmall a:hover {
            color: #105190;
        }

    .logInBoxSmall p {
        padding: 0;
        margin: 0;
        color: silver;
    }

    .logInBoxSmall input {
        border-radius: 10px;
        margin-bottom: 20px;
        font-size: 18px;
    }

.loginButton {
    background-color: #10a5d6;
    width: 222px;
    height: 26px;
    line-height: 26px;
    border-radius: 15px;
    display: inline-block;
    color: #eaeaea;
}

    .loginButton:hover {
        background-color: #105190;
    }

.logInBoxSmall img:hover {
    -webkit-filter: drop-shadow(2px 12px 7px silver);
    filter: drop-shadow(2px 12px 7px silver)
}

/*優惠券部分*/

.couponList {
    width: 550px;
}

.tab_css {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

    .tab_css input {
        display: none
    }

    .tab_css label {
        margin: 0 5px 5px 0;
        padding: 10px 16px;
        cursor: pointer;
        border-radius: 5px;
        background: #999;
        color: #fff;
        opacity: 0.5;
    }

.tab_content {
    order: 1;
    display: none;
    width: 100%;
    border-bottom: 3px solid #ddd;
    line-height: 1.6;
    font-size: .9em;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.tab_css input:checked + label, .tab_css label:hover {
    opacity: 1;
    font-weight: bold;
}

    .tab_css input:checked + label + .tab_content {
        display: initial;
    }



/*妮妮的電影頁面*/



.moviePage {
    display: flex;
}

.posterPlace {
    text-align: center;
}

    .posterPlace img {
        width: 200px;
    }

.movie {
    margin-left: 20px;
}

    .movie li {
        font-size: 16px;
    }

    .movie h3 {
        font-size: 32px;
    }

    .movie h4 {
        font-size: 20px;
        padding-bottom: 25px;
    }

.somethingAboutMovie ul {
    display: flex;
}

.somethingAboutMovie li {
    line-height: 20px;
    font-size: 16px;
    margin-right: 20px;
}

.fatLi {
    font-weight: bold;
    width: 60px;
    height: 30px;
}

.movieIntroduce {
    letter-spacing: 2px;
    color: dimgray;
}

.myButton {
    background-color: #10a5d6;
    border-radius: 5px;
    color: #eaeaea;
    width: 90px;
    margin-top: 10px;
    padding: 5px;
}

.movieIntroduce input:hover {
    background-color: #105190;
}

.video {
    margin-top: 20px;
    margin-bottom: 20px;
}
