@{
    ViewData["Title"] = "文章編輯器";
}

@section Styles{
    <link href="~/css/EditorJS/simple-image.css" rel="stylesheet" />
    <link href="~/css/EditorJS/editorJS.css" rel="stylesheet" />
}
<hr />
<div class="editorJS">
    <div id="editorjs"></div>
    <button id="save-button">送出</button>
<pre id="output"></pre>
</div>



@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/@@editorjs/editorjs@@latest"></script>
    <script src="~/js/EditorJS/simple-image.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@editorjs/image@@2.3.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@editorjs/header@@latest"></script>


    <script>
        const editor = new EditorJS({
            autofocus: true,
            tools: {
                header: {
                    class: Header,
                    inlineToolbar: true
                },
                image: {
                    class: ImageTool,
                    config: {
                        endpoints: {
                            byFile: '../api/ImageUploader/upload-image', // Your backend file uploader endpoint
                            byUrl: '../api/ImageUploader/fetchUrl', // Your endpoint that provides uploading by Url
                        }
                    }
                }
            }
        });
        
        const saveButton = document.getElementById('save-button');
        const output = document.getElementById('output');
     
        saveButton.addEventListener('click', () => {
            editor.save().then(savedData => {
                output.innerHTML = JSON.stringify(savedData, null, 4);
            })
        })
    </script>
}


